* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: white;
}
.login {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
   
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.error-message{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(34, 120, 219);
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: rgb(34, 120, 219);;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}


.log-link, .reg-link{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #5b6574;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.log-link:hover{
    color: #2868c7;
    transition: color 0.2s;
}
.reg-link:hover{
    color: #2868c7;
    transition: color 0.2s;
}


.register {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
   height: 50px;
    background-color: rgb(34, 120, 219);;
    color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(34, 120, 219);;
   border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}



@media (max-width: 768px) {
    .login {
        width: 100%;
        margin-top: 60px;
    }
     .register{
        margin-top: 32px;
     }

 
    .login form input[type="text"], 
    .login form input[type="password"], 
    .register form input[type="text"], 
    .register form input[type="password"], 
    .register form input[type="email"] {
        width: 100%;
        margin-bottom: 10px; 
    }

   
    .login form input[type="submit"], 
    .register form input[type="submit"] {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    
    .login form input[type="text"], 
    .login form input[type="password"], 
    .register form input[type="text"], 
    .register form input[type="password"], 
    .register form input[type="email"] {
        width: 90%;
        margin-bottom: 10px;
    }

   
    .login form input[type="submit"], 
    .register form input[type="submit"] {
        width: 90%; 
    }
}