.scroll-top-btn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    width: fit-content;
    background-color: #3498db; 
    color: white; 
    cursor: pointer; 
    height: fit-content;
    padding: 10px; 
    border-radius: 5px; 
    font-size: 25px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}


.scroll-top-btn:hover {
    background-color: #2980b9; 
}
